{% extends 'layout.html' %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
	<style>
		.blog-title {
			text-align: left;
			font-size: 3em;
			text-shadow: none;
			font-weight: 300;
		}
		article figure {
			display: flex;
			margin-left: 0;
			margin-right: 0;
			padding: 0;
			justify-content: center;
			align-content: center;
			align-items: center;
			flex-direction: column;
		}
		article figure figcaption {
			font-style: italic;
			font-size: small;
			margin-top: 1em;
		}
		article img {
			max-width: 100%;
			max-height: 30em;
			border-radius: 7pt;
			border: 1pt solid #fff8;
			box-shadow: 0 4px 20px -7px #0006;
		}
	</style>
{% endblock %}
{% block header %}
	<a href="/"><h1>Shimo!!</h1></a>
{% endblock %}
{% block content %}
	<h1 class="blog-title">{{ title }}</h1>
	<article>{{ content | safe }}</article>
{% endblock %}
