{% extends 'layout.html' %}
{% block title %}Hjem{% endblock %}
{% block header %}
    <a href="/"><h1>Shimo!!</h1></a>
{% endblock %}
{% block content %}
    <noscript><p>Welcome, Based JavaScript Hater.</p></noscript>

    <p>Hei, jeg heter Shimo, jeg studerer fysikk og kjemi på universitet.
        Jeg liker å lese (favoritten min er Kafka) og spile gitar.
        Waifuen min er Yui, selvfølgelig.
    </p>

    <p>
        Kontakt: <a class="link" href="mailto:sam@shii.moe"><code>sam@shii.moe</code></a>,
        <a class="link" href="https://twitter.com/shimofruit"><code>@shimofruit</code></a>.
    </p>

    <h2>Sign the
        <a class="titleButton"
           style="width:auto; padding:0 0.25em; margin: 0;"
           href="/guestbook">Guestbook!!</a>
    </h2>

    <h3>Reasons Why The Ladies Love Me:</h3>
    <ol>
        <li>I'm 6'</li>
        <li>I have a blåhaj</li>
        <li>My Mum says I'm cool</li>
        <li>I'll give you kisses</li>
        <li>I have a PGP key: <a class="link" href="shiimoe.pgp"><code>A5E16A6FFC9DD158</code></a></li>
        <li>My website is <a class="link" href="https://github.com/Shiimoe/shii.moe">open source!</a></li>
    </ol>
{% endblock %}
