@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400;1,600&display=swap');

::selection {
    background: pink; /* WebKit/Blink Browsers */
    color: white;
  }
  ::-moz-selection {
    background: pink; /* Gecko Browsers */
    color: white;
  }


html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
}

body {
    color: black;
    background: black;
    background-image: url('background.png');
    background-size: 10em;
    background-repeat: repeat;
    font-family: 'Lora', serif;
    background-attachment: fixed;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.titleBar {
    background-color: #679dd74d;
    border-radius: 5pt;
    box-shadow: 0 4pt 22pt #0000003b;
    border: 1pt solid #87b1dd;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2em;
    text-align: center;
    padding-top: 0.75em;
    padding-bottom: 0.90em;
    display: block;
}

.titleButton {
    background-color: #acb9f8;
    display: inline-block;
    margin: 0.3em 0.3em;
    padding: 0.12em 0.3em;
    box-shadow: 0.3em 0.3em 0 #00000030;
    transition: 0.3s;
    font-size: 20pt;
    width: 12.5%;
    font-weight: bold;
    font-variant: small-caps;
}
.titleButton:hover {
    box-shadow: 0.4em 0.4em 3pt #00000030;
}

.image-card {
    width: 100%;
    margin-top:2em;
    box-shadow: 0pt 5pt 20pt #0006;
    border: 1pt solid #eee;
    border-radius: 7pt;
}


#content {
    /* background-color: #f7d4ff80; */
    padding: 1em;
    min-height: calc(100vh - 2em);
    padding-bottom: 20em;
}

.guitarCentre {
    overflow: auto;
}

.guitarAudio {
    display: block;
    text-align: center;
    margin-bottom: 2em;
}

.guitarPicture {
    width:30em; 
    float: right;
    margin-left: 2em;
    border: 2pt solid #0006;
    border-radius: 7pt;
}

.audio {
    margin-top: 2em;
}

#mascot {
    height: 20em; 
    position: fixed;
    bottom:0em; 
    right:0; 
    opacity: .85;
}


@media only screen and (max-width: 724px) {
    .guitarText {
        font-family: 'Lora', serif;
        padding-right: 1em;
        padding-left: 1em;
    }

    .guitarPicture {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0em;
        float: none;
        max-width: calc(100% - 4pt);
    }

    .titleButton {
        width: 50%
    }
    
    .pdf {
        height: 300pt;
    }

    .comment-input {
        height: 5em;
        margin: 0em 0em;
    }
    .input {
        width: calc(100% - 1.2em)
    }
    #mascot {
        height: 10em;
    }
    
    #content {
        padding-bottom: 10em;
    }
}

h1 {
    color: black;
    text-align: center;
    font-variant: small-caps;
}

li {
    font-size: large;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: large;
}